doctype html
html(lang="en")
    include ./pug/head
    body 
        include ./pug/var 
        .main-wrap 
            include ./pug/header 
            include ./pug/about 
            include ./pug/skill
            include ./pug/works 
        include ./pug/footer 
        script( defer src="./js/main.js")
        script( defer src="./js/header.js")
        script( defer src="./js/worksSlider.js")
        script( defer src="./js/burger.js")

